* {
  margin: 0px;
  padding: 0px;
  border: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container .logo {
}

.container .task-box {
  background-color: #242529;
}

.container .task-box .task-entry {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container .task-box .task-entry .task-input {
  background-color: #FFFFFE;
  color: #000000;
  border: 3px solid #4392F1;
}

.container .task-box .task-entry .task-submit {
  background-color: #4392F1;
  color: #FFFFFE;
}

.container .task-box .task-list {
  background-color: transparent;
  color: #FFFFFE;
}
