* {
  margin: 0px;
  padding: 0px;
  border: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container .logo {
}

.container .task-box {
}

.container .task-box .task-entry {
}

.container .task-box .task-entry .task-input {
}

.container .task-box .task-entry .task-submit {
}

.container .task-box .task-list {
}
